
extends layout
block content
  header
    h1 #{title}
  hr
  br
  article
    each m in mit
      div 
        a(href=`/foto/${m.id}`) 
          img(src=`${m.urls.small}`)
          br
          br
          br
          br
      